nav {
  background-color: rgb(206, 214, 207);
}

nav a u:hover,
nav a span:hover {
  color: rgb(13, 110, 253);
}

body {
  background-color: rgb(225, 232, 226);
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll .card {
  /*float: left;*/
  max-width: 300px;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 0;
  text-align: center;
  /* flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0; */
}

.card > img {
  margin: auto;
  margin-bottom: 0.75rem;
  width: 150px;
  height: 150px;
}

footer {
  height: 200px;
}

#achivement img {
  width: ;
  height: 500px;
}

.dark-overlay:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}

#players .card {
  background-color: rgb(118, 122, 118);
  border-radius: 30px;
}

#players .card:hover {
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  transition: 500ms;
}
